 *
 {
     margin: 0%;
     
     

 }
body {
    background-color: #fff;
    color: #576366;
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  
}


.nav__logo {
    height: 2rem;
    transition: all 0.3s;
    padding:0px;
  }
.navbar.nav-link 
  {
      font-size: 8px;
       
      text-transform: uppercase;
      padding-left: rem !important;
      padding-right: 1rem !important;
  }
  .nav-link {
      padding: 0px;
  }
  #freetrial  
  {
      padding:3px;
      color: white;
      background: #008298;
      background: linear-gradient(to bottom, #008298 0%, #007589 100%);
  }
  .nav-item {
      color:#387bab ;
      padding-top: 6px;
      background: #fff;
      box-shadow: 0 0 0px rgb(0 65 94 / 20%);
     
      
  }
  #navbar li
  {
     padding-top: 10px;
     padding-bottom: 8px;
     padding-left: 8px;
     padding-right: 18px;
  }
  

  .nav-item a.active, .nav-item a.active:hover  
{
   color: #030303;
  border-bottom: 2px solid #b3c1c4;
 
  height: 30px;
  width: 68px;
  text-decoration: none;
  font-weight:300;
}
a {
    color: #b85607;
    font-weight: 200;
    text-decoration: none;
}
  
 


  .tree img
  {
  width: 100%;
  height: 650px;
 padding-left: 00px;
 padding-right:0px;
 padding-top: 3px;
   
  }
  .centered {
    position: absolute;
    top: 3.85%;
     font-size: 25px;
    font-weight: 500;
    color: ivory;
    padding-left: 360px;
    padding-bottom: 650px;
    
  }
  .centeredd {
    position: absolute;
    top: 4.4%;
    color: ivory;
    font-size: 42px;
    padding-left: 220px;
    padding-bottom: 650px;
    text-align-last: center;
    font-size: 45px;
    
  }



.homepage
{
 background-color: rgb(16, 17, 16);
 border-radius: 0px 0px 0px 0px ;
 font-size: 1.125rem;
 text-align: center;
 font-weight: 450;
 padding: 2.5rem 2.5rem 2.5rem 2.5rem ;
 margin: -32px -32px 32px -32px;
 color: white;
 height: auto;
  
}
.homepage-signup
{
    background-color: whitesmoke;   
    position: relative;
    top: -100px;
    padding:  2rem 2rem 2rem 2rem;
    box-shadow: 0px 2px 4px 0px;
    margin:auto;
    width: 650px;
}


.homepage-tabs a {
     
    
    font-size: 1.5rem;
   
    padding-top: 2rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
}

.homepage-tabs a.active, .homepage-tabs a.active:hover ,.homepage-tabs a:hover 
{
  color: #387bab;
  border-bottom: 3px solid #128291;
  height: 100px;
  width: 40px;
  text-decoration: none;
  font-weight: 500;
}

a {
    color: #387bab;
    font-weight: 200;
    text-decoration: none;
}



svg{
    height: 180px;
    width: 260px;
    padding: 0px;
}
/* .items-content
{
    height: 20px;
    width: 300px;
    float: left;
    
  
    text-align: center;
    border-right: 0px solid grey;
} */
.items-content
{
    height: 200px;
    width: 350px;
    float: left;
    padding-right: 10px;
    vertical-align: text-bottom;
}
 

.items-images .svg
{
    height: 350px;
    width: 200px;
}
#compass h3
{
    
    border-top-left-radius: 5px solid gray;
    text-align: center;
    text-align-last: center;
     
   
    padding-right: 78px;
    
    
}
#freeresources h3
{
  border-top-left-radius: 5px solid gray;
    text-align: center;
    
    padding-right: 140px;
}
#networking h3 {
  border-top-left-radius: 5px solid gray;
    text-align: center;
    
    padding-right:185px;
}
 

 
.laptopp {
    background: url('https://treehousee.s3.ap-south-1.amazonaws.com/8.svg') left/contain no-repeat,url('https://treehousee.s3.ap-south-1.amazonaws.com/9.svg') right/contain no-repeat;
    background-position: -40px, right;
    background-position-x: -30px, right;
    background-position-y: center, center;
    background-repeat: no-repeat;
    background-size: contain;
  width: 100%;
  height: 400px;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

    padding-left: 5rem !important;
    padding-right: 0rem !important;
    background-color:  #ffffff ;
} 

 
.col-maxx
{
    text-align: center;
    margin: auto;
    width: 350px;
    padding-right: 0px;
    top: 0%;
    left: 0%;
    padding-left:0px;; 
}
  #signup   {
    /* font-size: 16px;
    height: 50px;
    line-height: 40px;
    margin: auto;
    width: 200px;
    margin: 0;
    text-align: center;
    padding: auto; */
     
    width: 65px;
    height: 60px;
   color: rgb(233, 231, 233);
   text-align: center;
    
} 

.text-bottom
{
    height: 200px;
    width: 300px;
    float: left;
}
 
.banner {
      background: url( 'https://treehousee.s3.ap-south-1.amazonaws.com/10.jpg') center/cover no-repeat;  
    
     width: 100%;
}
.col-max   {
    max-width: px !important;
    margin: 0 auto !important;
    padding: 2rem !important;
    padding: 0;
}
.banner img {
    object-fit: contain;
    padding-left: 50px;
    padding-bottom: 50px;
    padding: 70px;  
    width: 100%;
}

.explore button
{
    width: 100%;
    height: 60px;
     
}


 
.how-it-works-plans .box svg {
    fill: #3f4850;
    margin-right: 1rem;
}
svg:not(:root) {
    overflow: hidden;
}
.curriculum-icon {
    width: 40px;
    height: 8px;
}
p {
    color: #5a5a5a;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
.how-it-works-plans {
    display: grid;
    grid-gap: 0 3rem;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
}
 
.p-lr-2-xs {
    padding-left: 7.5rem !important;
    padding-right: 0rem !important;
}
 
.m-t-2-xs {
    margin-top: 1.5rem !important;
}
.how-it-works-plans .box:not(:nth-child(5n)) {
    border-bottom: 6px solid #810c0c;
}

 
.how-it-works-plans .box {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}
.how-it-works-plans .box:not(:nth-child(5n)) {
    border-bottom: 2px solid #bdc6cf;
}

  
.how-it-works-plans .box {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}
.how-it-works-plans .box svg {
    fill: #bdc8d1;
    margin-right: 2rem;
}
svg:not(:root) {
    overflow: hidden;
}
.project-review-icon {
    width: 40px;
    height: 40px;
}

.how-it-works-plans .box svg {
    fill: #3f4850;
    margin-right: 2rem;
}

svg:not(:root) {
    overflow: hidden;
}
.community-icon {
    width: 50px;
    height: 30px;
}

.how-it-works-plans .box svg {
    fill: #020303;
    margin-right: 2rem;
}

svg:not(:root) {
    overflow: hidden;
}
.courses-plus-icon {
    width: 40px;
    height: 40px;
}




.how-it-works-plans
{
    float: right;
    padding-left: 950px;
    padding-inline-end: 652px;
}
 
 .exploree    
 { 
        
     font-size: 2.25rem;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 52px;
    padding-bottom: 15px;
    color: #40484a;
    display: block;
    font-weight: 500;
    margin: 0;
    text-align: left;
    
    line-height: 1.3 !important;
    text-rendering: optimizeLegibility;
 }
 #exploree {
     font: 300;
     font-size: 25px;
     padding-left: 10px;
     color: #576366;
     font-size: 1rem;
     line-height: 1.5;
     margin: 0;
     text-align: left;
     font-size: 1.125rem !important;
     margin-bottom: 1.3rem !important;
   
 }
 
h2
{
    text-align: center;
}


.images  {
    white-space: wrap;
    
  }
  
  .images ,.imagesss {
    list-style: none;
    display: inline-flex;
    width: 100%;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:150px;
    padding-right: 30px;
    /* border-right: 1px solid black; */
    /* border-left: .5px solid rgb(94, 97, 97); */
     
  }
 h2
{
     text-align: center;
}
.py-5
{
    background-color: #3f4850;
    width: 100;
}
#img
{
    font-size: 40px;

     
   
}
.img-fluid img
{   width: 100px;
   padding-left: 50px;
   padding-bottom: 50px;
   
}
.paragarph{
    
    color: #576366;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0
}
.START
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font: bold;
    padding-left: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height:2.5rem ;
    color: white;
    float: right;
}
#info
{
    width: 100%;
    
}

#true
{
    background-color:rgba(255, 255, 255, 0.034) ;
    padding-left: 20px;
    padding-bottom: 20px;
    font: weight 500PX;      
}
.one{
    text-align: left;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}
#btn {
    text-align: centre;
    color: rgb(7, 80, 199);
}
.text-center button{
     
    width: 280px;
    height: 60px;
    background: #008298 !important;
    background: linear-gradient(to bottom, #008298 0%, #007589 100%) !important;
   padding: 20px;
}
.btn-link  p
{
    color: rgb(12, 10, 10);
    font-size: 20px;
    font-weight: 1500px;
    font-family: "Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
}

.itemssss svg{
    height: 85px;
    width: 100px;
    
   text-decoration: none;
   text-align: center;
   padding-left: 10px;
}
#tool
{
    text-align: centre;
}
#compass
{
    border-top-left-radius: 5px solid gray;
    text-align: center;
    text-align-last: center;
    
    
}
.our button  {
    width: 200px;
    height: 60px;
    background: #008298 !important;
    background: linear-gradient(to bottom, #008298 0%, #007589 100%) !important;
  
    
}
 
 

#guiding
{
    padding-right: 1px;
    padding-left: 10px;
}

 
 
  
  /* SLIDER */
.slider {
    max-width: 80rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    /* IN THE END */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* THIS creates the animation! */
    transition: transform 1s;
  }
  
  .slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 10%;
    object-fit: cover;
  }
  
  .slider__btn {
    position: absolute;
    top: 40%;
    
   
    border: none;
    background: rgba(255, 252, 252, 0.7);
    font-family: inherit;
    color: rgb(36, 28, 28);
    border-radius: 10%;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    cursor: pointer;
  }
  
  .slider__btn--left {
    left: 5%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right {
    right: 5%;
    transform: translate(50%, -50%);
  }
  
    .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    text-align:centre ;
    width: 1rem;
    border-radius: 45%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    float: hidden;
     /* Only necessary when overlying images   */
        box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);  
   }
  
  .dots__dot:last-child {
    margin: 0;
  }
  
  .dots__dot--active {
     background-color: #fff;  
    background-color: rgb(253, 251, 251);
    opacity: 1; 
  }    */  
  /* TESTIMONIALS */
.testimonial {
    width: 65%;
    position: relative;
  }
  
  
  
  .testimonial__header {
    font-size:2rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
  }
  
  .testimonial__text {
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
    color: rgb(0, 0, 0);
  }
  
  .testimonial__author {
    margin-left: 3rem;
    font-style: normal;
  
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
  }
  
  .testimonial__photo {
    grid-row: 1 / span 2;
    width: 7.5rem;
    border-radius: 10%;
  }
  
  .testimonial__name {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
  }
  
  .testimonial__location {
    font-size: 1.2rem;
  }
  
  .section__title--testimonials {
    margin-bottom: 4rem;
  }
  #section--3
  {
      width: 1000px;
      padding: 50px;
      padding-left: 50px;
  }

  
 .mission{
    background:url("https://static.teamtreehouse.com/assets/layouts/header-bg-0e6a992b193cbbf0ea2d9b2a00521d3d8aba1f47908c04dd57782e774c20f0f5.svg") #f6f9fa 0 70px repeat;
    height: 870px;
   
    padding-bottom: 0px;
    padding-left: 130px;

}
 
.Success 
{
    text-align: center;
    text-align:center;
    font-size: 40px;
    color: black;
}
.tech 
{
   text-align: center;
   text-justify: auto;
   word-break: break-all;
   text-indent: 30px;
   font-weight: 300;
   font-size: 25px;
   color: black;
}
#stories button{
    text-align: center;
    padding-left: 80px;
}
/* footer */
footer {
    background: #4a7db1;
    background: -webkit-linear-gradient(59deg, #c3c5c5, #969797);
    background: linear-gradient(59deg, #ffffff, #c0c6ca);
    color: rgb(192, 180, 180);
    margin-top:20px;
    width: 100%;
    height: 460px;
    }
    
    footer a {
    color: rgb(8, 136, 168);
    font-size: 18px;
    transition-duration: 0.2s;
    }
    
    footer a:hover {
    color: #493f38;
    text-decoration: none;
    }
    
    
    .footer-middle {
    padding-top: 1rem;
    color: white;
    font-size: 35px;
    }
    .footer-pad ul li {
    padding-left: 300px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 2px;
    
    
    
    }
    
    .nav-item-logo-icon .icon-logo {
    fill: #1cac1c;
    width: 20px;
    padding-top: 250px;
    }
    .treehouse-icon {
    width: 150px;
    height: 45px;
    padding-top: px;
    }
    .nav-item-logo-icon {
    display: block;
    }
    #island  p {
    color: #576366;
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    padding-top: 10px;
    padding-left: 23px;
    padding-bottom: 0px;
    }
    /*SOCİAL İCONS*/
    
    /* footer social icons */
    .col-md-4 ul li 
    {
    align-items: center;
    float: right;
    padding-top: 50px;
    }
    
    
    ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
    }
    
    ul.social-network li {
    display: inline;
    margin: 0 5px;
    
    }
    
    
    /* footer social icons */
    
    .social-network a.icoFacebook:hover {
    background-color: #3B5998;
    }
    
    .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
    }
    
    .social-network a.icoFacebook:hover i,
    .social-network a.icoLinkedin:hover i {
    color: #fff;
    }
    
    .social-network a.socialIcon:hover,
    .socialHoverClass {
    color: #44BCDD;
    }
    
    .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
    }
    
    .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
    }
    
    .social-circle li a:hover i,
    .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    }
    
    .social-circle i {
    color: #ffffff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    }
    
    .social-network a {
    background-color: #908c8c;
    }